html {
    font-size: 100%;
}


.container {
    background-color: #FFD58f;
    display: flex;
    /*flex-wrap: wrap-reverse;*/
    /*flex-direction: row-reverse;*/
    /*flex-flow: wrap-reverse row-reverse;*/
    height: 100vh;
    border: 5px solid cadetblue;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.item {
    font-size: 40px;
    padding: 10px;
    text-shadow: 2px 2px 0 rgba(0,0,0, .1);
    box-shadow: 1px 1px 0 rgba(0,0,0, .1);
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    margin: .2rem;
    /*width: calc(33.333333% - .4rem);*/
    display: flex;
    align-items: center;
}