html {
    font-size: 100%;
}


.container {
    background-color: #FFD58f;
}

.item {
    font-size: 40px;
    padding: 10px;
    text-shadow: 2px 2px 0 rgba(0,0,0, .1);
    box-shadow: 1px 1px 0 rgba(0,0,0, .1);
    text-align: center;
    background-color: #fff;
    margin: 3px;
}