html {
    font-size: 100%;
    font-family: "vazir";
}

.container {
    width: 400px;
    margin: auto;
}

.form {
    margin-top: 2rem;
}

.form .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: cadetblue;
    margin: .5rem;
    text-align: center;
}

.form lable {
    font-weight: bold;
}

.form input.form-control {
    width: 100%;
}

.form input.form-control::placeholder {
    color: #8a898dbf;
}

.form input:focus {
    background-color: #c1eeff61;
    border: 1px solid #58747ab3 !important;
    outline: 0;
}

.form input:invalid {
    background-color: #ff00004d;
    border: 1px solid #ff00008c !important;
}

.form input {
    font-family: inherit;
    padding: 0.1rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.form lable,
.form input:not([type="checkbox"]) {
    display: block;
    margin-bottom: .5rem;
}

.checkbox input {
    display: none;
}

.checkbox {
    position: relative;
    padding-right: 1.5rem;
}

.checkbox .checkmark {
    width: 15px;
    height: 15px;
    background-color: #eee;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 4px;
}

.checkbox:hover .checkmark {
    background-color: #ccc;
}

button {
    display: block;
}

.checkbox input:checked ~ .checkmark {
    background-color: aqua;
}

.checkmark::after {
    content: "";
    position: absolute;
    top: 0;
    right: 3px;
    display: none;
    border: solid white;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox input:checked ~ .checkmark::after {
    display: block;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: .3rem .8rem;
    font-family: Vazir;
}

.btn-success {
    background-color: #42ff2bb8;
    color: white;
    border: 1px solid #318b26b8;
}

.btn-danger {
    background-color: #ff4e4ea6;
    color: white;
    border: 1px solid #894040a6;
}
